.top-banner {
  
  
  
}

h1 {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  font-family: Helvetica;
}

h2 {
  font-family: "Helvetica", sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

h3 {
  font-family: "Helvetica", sans-serif;
}

p {
  font-family: Helvetica;
}

#brushes {
  background-color: mediumspringgreen ;
}

#frames {
  background-color: lightcoral ;
}

#paint {
  background-color: skyblue ;
}

.price {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}